body{
    font-family: 'Lucida Grande', Tahoma, Verdana, Arial, sans-serif;
    color: #666666;
    margin-top: 25px;
}

.header{
    margin-bottom: 20px;
}

.title-main{
    font-size: 48px;
}

.title-sub{
    font-size: 24px;
    font-weight: 700;
    color: #F07C17;
}

.text-main{
    font-size: 16px;
    line-height: 2;
}

.text-main-position{
    margin-top: 30px;
}

.features-box{
    border: 1px solid #666666;
    margin-top: 30px;
    padding-bottom: 30px;
}

.list-position{
    margin-top: 30px;
    margin-left: 30px;
}

img{
    margin: 0 auto;
}